@import '../../assets/styles/theme.scss';

.wrapper {
  text-align: left;
  padding-left: 20px;
}
.name {
  text-transform: uppercase;
  font-family: Yeseva One;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 16px;
  text-transform: uppercase;
  span {
    padding: 4px 8px;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 1px solid $color-primary;
    color: $color-white;
  }
}
.contact-wrapper {
  a {
    margin-right: 24px;
    font-size: 24px;
    color: $color-primary;
    svg {
      vertical-align: bottom;
    }
  }
}
