$color-primary: #939aff;
$color-secondary: #2ea043;
$color-tertiary: #ffa28b;
$color-background: #666bb2;
$color-white: #ffffff;
$color-background-start: #000000;
$color-background-middle: #233329;
$color-background-end: #939aff;
